.nav-bar {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.nav-bar ul {
  list-style: none;
  float: left;
  margin: 0;
}

.nav-bar li {
  float:left;
  display: inline-block;;
  margin-right: 10px;
}
  
.nav-bar li a{
  color: white;
}
  